<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Help!</title>
  <link rel="stylesheet" href="/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script defer src="/script.js"></script>
</head>
<body>
  <nav>
    <a href="/humans">
      Home
    </a>
    <% if(!currentUser) { %>
      <a href="/login">
        Login
      </a>  
      <a href="/users/new">
        Signup
      </a>
    <% } else { %>
      <a href="/users/<%= currentUser._id %>">
          Logged In As: <%= currentUser.username %>
      </a>
      <a href="/logout">
        Logout
      </a>
    <% } %>
  </nav>
  <%if(error.length > 0){%>
    <h1><%=error%></h1>
  <%}%>
  <%if(success.length > 0){%>
    <h1><%=success%></h1>
  <%}%>
