<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>People Rater - The Anti-Social Network</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
  <script defer src="/script.js"></script>
  <script defer src="/dbseeder.js"></script>
</head>
<body>
  <nav class="header-nav">
    <a href="/humans">
      Home
    </a>
    <% if(!currentUser) { %>
      <a href="/login" class="login-btn">
        Login
      </a>    
      <a href="/users/new">
        Signup
      </a>
    <% } else { %>
      <a href="/users/<%= currentUser._id %>/edit">
          Logged In As: <%= currentUser.username %>
      </a>
      <a href="/logout">
        Logout
      </a>
    <% } %>
  </nav>
  <nav class="hidden header-login">
    <form action="/login" method="post">
      <label>
        Username
        <input type="text" placeholder="username" name="username">
      </label>
      <label>
        Password
        <input type="text" placeholder="password" name="password">
      </label>
      <button>
        Log In
      </button>
    </form>
    <button class="cancel">
      Cancel
    </button>
  </nav>
  <%if(error.length > 0){%>
    <p class="error"><%=error%></p>
  <%}%>
  <%if(success.length > 0){%>
    <p class="success"><%=success%></p>
  <%}%>
