<% include ../partials/header %>
<section>
  <form action="/humans" method="POST">
    <label>
      First Name
      <input type="text" placeholder="First Name" name="human[firstName]">
    </label>
    <label>
      Last Name
      <input type="text" placeholder="Last Name" name="human[lastName]">
    </label>
    <label>
      City
      <input type="text" placeholder="City" name="human[city]">
    </label>
    <label>
      State
      <input type="text" placeholder="State" name="human[state]">
    </label>
    <label>
      Image URL
      <input type="text" placeholder="Image URL" name="human[image]">
    </label>
    <label>
      Image Description
      <input type="text" placeholder="Describe the image" name="human[imageAlt]">
    </label>
    <label>
      Person Description
      <textarea name="human[description]"></textarea>
    </label>
    <label>
      Your Review:
      <fieldset class="ratings">
          <input type="radio" name="comment[stars]" value="5" class="rating-stars" id="star5">
          <label class="rating-label" for="star5">
            ★5
          </label>
          <input type="radio" name="comment[stars]" value="4" class="rating-stars" id="star4">
          <label class="rating-label" for="star4">
            ★4
          </label>
          <input type="radio" name="comment[stars]" value="3" class="rating-stars" id="star3">
          <label class="rating-label" for="star3">
            ★3
          </label>
          <input type="radio" name="comment[stars]" value="2" class="rating-stars" id="star2">
          <label class="rating-label" for="star2">
            ★2
          </label>
            <input type="radio" name="comment[stars]" value="1" class="rating-stars" id="star1">
          <label class="rating-label" for="star1">
            ★1
          </label>
        </fieldset>
        <textarea placeholder="Your review here." id="comment" name=comment[comment]></textarea>
      </label>
    <button class="only-button">Submit</button>
  </form>
</section>
<% include ../partials/footer %>