<% include ../partials/header %>
<section class="review-new">
  <form action="/humans/<%=humanId%>/comments/new" method="POST">
    <div class="flex-container">
      <p>
        Your Review:
      </p>
      <fieldset class="ratings">
        <input type="radio" name="comment[stars]" value="5" class="rating-stars" id="star5">
        <label class="rating-label" for="star5">
         ★5
        </label>
        <input type="radio" name="comment[stars]" value="4" class="rating-stars" id="star4">
        <label class="rating-label" for="star4">
          ★4
        </label>
        <input type="radio" name="comment[stars]" value="3" class="rating-stars" id="star3" checked>
        <label class="rating-label" for="star3">
          ★3
        </label>
        <input type="radio" name="comment[stars]" value="2" class="rating-stars" id="star2">
        <label class="rating-label" for="star2">
          ★2
        </label>
          <input type="radio" name="comment[stars]" value="1" class="rating-stars" id="star1">
        <label class="rating-label" for="star1">
          ★1
        </label>
      </fieldset>
    </div>
    <textarea placeholder="Your review here." id="comment" name=comment[comment]></textarea>
    <button class="only-button">
      Add Review
    </button>
  </form>
</section>
<% include ../partials/footer %>