<% include ../partials/header %>

<form action="/humans/<%=humanId%>/comments/new" method="POST">
  <ul class="ratings">
    <li class="rating-stars star5"><i class="fas fa-star"></i></li>
    <li class="rating-stars star4"><i class="fas fa-star"></i></li>
    <li class="rating-stars star3"><i class="fas fa-star"></i></li>
    <li class="rating-stars star2"><i class="fas fa-star"></i></li>
    <li class="rating-stars star1"><i class="fas fa-star"></i></li>
  </ul>
  <input class="num-input" type="number" value=3 min=1 max=5 name=comment[stars]>
  <input type="text" placeholder="Your review here." name=comment[comment]>
  <button>Add Review</button>
</form>

<% include ../partials/footer %>