<% include ../partials/header %>

<form action="/humans/<%=humanId%>/comments/new" method="POST">
  <input type="number" value=3 min=1 max=5 name=comment[stars]>
  <input type="text" placeholder="Your review here." name=comment[comment]>
  <button>Add Review</button>
</form>

<% include ../partials/footer %>