<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>
  People Rater
</title>
<link href="/splash.css" rel="stylesheet">
</head>
<body>
<div>
  <h1>People Rater</h1>
  <ul>
    <li>
      Have Fun
    </li>
    <li>
      Lose Friends
    </li>
    <li>
      Gain Enemies
    </li>
  </ul>
  <br>
  <a href="/humans">Start Rating</a>
</div>
<ul class="slideshow">
  <li></li>
  <li></li>
  <li></li>
  <li></li>
  <li></li>
</ul>
</body>
</html>