<% include ../partials/header %>
<section>
  <form action="/login" method="post">
    <label>
      Username
      <input type="text" placeholder="username" name="username">
    </label>
    <label>
      Password
      <input type="text" placeholder="password" name="password">
    </label>
    <button class="only-button">
      Log In
    </button>
  </form>
</section>
<% include ../partials/footer %>